@inherits LayoutComponentBase
<div class="page">
    <main>
        <div id="header_chat">
            <h1>Let's talk</h1>
        </div>

        <article id="chat">
            @Body
        </article>
    </main>
</div>