
.question_section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    margin-top: 10px;
}

.text_question {
    border-color: gray;
    border-width: 1px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    padding: 10px;
    height: 60%;
    margin-right: 10px;
    margin-left: 10px;
}

.settings_text {
    border-color: gray;
    border-width: 1px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    padding: 10px;
    height: 50vh;
    margin-right: 10px;
    margin-left: 10px;
}

.settings_text_base {
    border-color: gray !important;
    border-width: 1px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px;
    height: 34vh;
}

.knowledge_base {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

    .knowledge_base input {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

.send_button {
    color: white;
    background-color: #45496d;
    font-weight: bolder;
    margin-right: 10px;
    margin-left: 10px;
    border-color: gray;
    border-width: 1px;
    border-radius: 10px;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
    text-transform: uppercase;
    height: 60%;
}

.send_button_base {
    color: white;
    background-color: #45496d;
    font-weight: bolder;
    margin-right: 10px;
    margin-left: 10px;
    border-color: gray;
    border-width: 1px;
    border-radius: 10px;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
    text-transform: uppercase;
}

.send_button:hover {
    background-color: rgba(22,26,66,1);
    color: white;
}

.danger {
    color: darkred;
}

.okay {
    color: darkgreen;
}

.add_base {
    text-transform: capitalize;
    background-color: blanchedalmond;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border-radius: 5px;
}

.chat_detail {
    margin-top: 15px;
    margin-bottom: 15px;
}

.ai_button {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: sticky;
    margin-bottom: 10px;
}

    .ai_button .send_button {
        background-color: #198754;
    }

    .ai_button #pause_bttn {
        background-color: #ca091b;
    }


.chat_messages {
    display: flex;
    height: 59vh;
    overflow-y: auto;
    padding-right: 12px;
    padding-top: 20px;
    padding-bottom: 20px;
}

#messages {
    list-style: none;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative
}

    #messages li {
        margin-top: 15px;
    }

    #messages .user {
        background-color: #5a99ee;
        border-radius: 10px;
        display: block;
        margin-left: 0;
        margin-right: auto;
        width: 80%;
    }

    #messages .system {
        background-color: #fc6d4c;
        border-radius: 10px;
        display: block;
        margin-left: auto;
        margin-right: 0;
        width: 80%;
    }

    #messages .msg_info {
        background-blend-mode: color-dodge;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        padding-bottom: 0px;
        border-top-right-radius: inherit;
        border-top-left-radius: inherit;
        color: white;
    }


    #messages .msg_info_name {
        font-weight: bolder;
        font-size: 14px;
    }

    #messages .msg_text {
        font-weight: bold;
        padding: 10px;
        padding-top: 2px;
        color: white;
        font-size: 18px;
    }
