@using Admin.UI.Services
@using Shared

@if (Chats == null)
{
    <p>
        <em>No data</em>
    </p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>User</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var chat in Chats)
        {
            <tr>
                <td><div @onclick="() => ChatSelected(chat.UserId)">@chat.UserId</div></td>
            </tr>
        }
        </tbody>
    </table>
}


@code {

    [Parameter]
    public List<ChatUserEvent> Chats { get; set; } = new();

    [Parameter]
    public Func<string,Task> OnSelect { get; set; }
    
    private async Task ChatSelected(string id)
    {
        await OnSelect(id);
        //tabs.Ids.Add(id);
        Console.WriteLine("chat selected");
    }


}