@using Admin.UI.Services
@using Shared
@using Admin.UI.ApiClients
@inject BackendApiClient client;

<ul id="messages">
@foreach (var it in data)
{
    <li class="@(it.FromUser?"user":"system")">
        @it.Text
    </li>
}
</ul>

@code {

    [Parameter]
    public List<ChatUserEventMessage> data { get; set; } = new();

    [Parameter]
    public string Id { get; set; }

}