@if (IsLoading)
{
    <div class="loaderParent">
        <span class="loader"></span>
    </div>
}
else
{
    @ChildContent
}

@code {
    [Parameter]
    public bool IsLoading { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }
}