@page "/"
@using Edge.UI.Services
@inject ChatService chatService;

<PageTitle>Chat</PageTitle>

<div class="chat_messages">
    <ul id="messages">
        @foreach (var message in Messages)
        {
            <li class="@(message.FromUser ? "user" : "system")">
            
                @message.Text
            </li>
        }
    </ul>
</div>
<div class="question_section">
    <textarea @bind="Text" placeholder="Type something ..." class="text_question"></textarea>
    <button @onclick="SendMessage" class="send_button">send</button>
</div>

@code{

    public string Text { get; set; }
    public List<ChatMessage> Messages { get; set; } = new();
    
    protected async override Task OnInitializedAsync()
    {
        await chatService.Init();
        await chatService.RegisterGptHandler((message) =>
        {
            Messages.Add(new ChatMessage(false,message));
            StateHasChanged();
        });
    }
    
    private async Task SendMessage()
    {
        var text = Text;
        Text = "";
        Messages.Add(new ChatMessage(true,text));
        await chatService.SendMessage(text);
    }
    
    
}