@page "/"

<PageTitle>Home</PageTitle>

<h1>Welcome to your admin page.</h1>

@* <div class="alert alert-warning" role="alert"> *@
@*     Before authentication will function correctly, you must configure your provider details in <code>Program.cs</code> *@
@* </div> *@



<p style="padding:5px">
    The pages are protected and require authentication, counter page invokes backend api, if user is not authorized exception will happen
</p>