@page "/settings"
@using Admin.UI.ApiClients
@using Admin.UI.Services
@using Shared
@using System.Net.Mime
@using Microsoft.AspNetCore.Authorization
@inject BackendApiClient api
@attribute [Authorize]
@inject IToastService toastService
@inject SettingsService settingsService
@inject KnowledgeBaseSettingsService KnowledgeBaseSettingsService

<PageTitle>Settings</PageTitle>

<h1>Settings</h1>

<BackDrop Visible="backDropVisible"></BackDrop>

<Tabs AllowTabPageRemoval="false">
    <TabPage Text="Bot settings">
        <Loading IsLoading="@isSettingsLoading">
            <p>this settings are you when initializing bot and describing its use within the system.</p>
            <textarea class="settings_text" rows="20"  @bind="botSettings.Text"></textarea>
            <br/>
            <button class="send_button" @onclick="SaveBotSettings">Save changes</button>
        </Loading>
    </TabPage>
    <TabPage Text="Knowledge base">
        <div class="row">
            <Loading IsLoading="@isLoading">
                <div class="col-2">
                    <div class="add_base">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-plus-fill" viewBox="0 0 16 16">
                            <path d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0M9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1M8.5 7v1.5H10a.5.5 0 0 1 0 1H8.5V11a.5.5 0 0 1-1 0V9.5H6a.5.5 0 0 1 0-1h1.5V7a.5.5 0 0 1 1 0"/>
                        </svg>
                        <a href="javascript:void(0)" @onclick="() => { modal.Open(); }">add</a>
                    </div>
                    <ul class="pages">
                        @foreach (var p in pages)
                        {
                            <li><span @onclick="async () => await SelectPage(p.Id, p.Name, p.Content)">@p.Name</span></li>
                        }
                    </ul>
                </div>
                    <div class="col-10 knowledge_base">
                        <label>Name</label>
                        <input @bind=selectedPageName/><br/>
                        <label>Content</label>
                    <textarea @bind=selectedPageText class="settings_text_base" rows="20"></textarea>
                        <br/>
                    <button @onclick="SavePageContent" class="send_button_base">Save changes</button>
                    </div>
            </Loading>
        </div>
    </TabPage>

</Tabs>

<Modal @ref="modal">
    <Title>
        @GetDialogTitle()
    </Title>
    <Body>
        <p>
            <input @bind="newPageText"/>
        </p>
    </Body>
    <Footer>
        <button type="button" class="btn btn-primary" @onclick="SavePage">Save changes</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal" @onclick="() => modal.Close()">Close</button>
    </Footer>
</Modal>

@code {
    private ChatSettings botSettings=new();
    private string newPageText;
    string selectedPageId;
    string selectedPageText;
    string selectedPageName;
    bool isLoading = false;
    bool isSettingsLoading = false;
    bool backDropVisible;

    string GetDialogTitle() => "Add new page";
    
    List<KnowledgeBasePage> pages = new();
    private Modal modal { get; set; }

    protected async override Task OnInitializedAsync()
    {
        isLoading = true;
        isSettingsLoading = true;
        botSettings = await settingsService.GetBotSettings();
        isSettingsLoading = false;
        
        pages = await KnowledgeBaseSettingsService.GetPages();
        isLoading = false;
    }

    private async Task SaveBotSettings()
    {
        Console.WriteLine($"saving settings {botSettings}");
        backDropVisible = true;
        StateHasChanged();
        await settingsService.SaveBotSettings(botSettings);
        backDropVisible = false;
        StateHasChanged();
        toastService.ShowSuccess("settings saved");
    }

    private async Task SavePage()
    {
        Console.WriteLine("save page");
        
        backDropVisible = true;
        StateHasChanged();
        await KnowledgeBaseSettingsService.AddPage(newPageText,"");
        backDropVisible = false;
        StateHasChanged();
        
        newPageText = "";
        isLoading = true;
        pages = await KnowledgeBaseSettingsService.GetPages();
        isLoading = false;
        modal.Close();
    }

    private async Task SelectPage(string id,string name,string content)
    {
        Console.WriteLine(selectedPageId);
        Console.WriteLine(selectedPageText);
        Console.WriteLine(selectedPageName);
        selectedPageId = id;
        selectedPageName = name;
        selectedPageText = content;
        StateHasChanged();
    }

    private async Task SavePageContent()
    {
        backDropVisible = true;
        StateHasChanged();
        await api.UpdatePage(selectedPageId, selectedPageName, selectedPageText);
        backDropVisible = false;
        StateHasChanged();
        toastService.ShowSuccess("Page saved");
        isLoading = true;
        StateHasChanged();
        pages = await KnowledgeBaseSettingsService.GetPages();
        isLoading = false;
        StateHasChanged();
    }

}